In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/drive/MyDrive/ML Data set Folder/Churn_Modelling (1).csv')
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

# cleaning data

In [3]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [4]:
df.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [5]:
df.Gender.value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [6]:
df.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [7]:
df.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

# categorical values

In [8]:
a = pd.get_dummies(df.Gender,drop_first=True)
b = pd.get_dummies(df.Geography,drop_first=True)
print(b)

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [9]:
df = pd.concat([df,a,b],axis=1)

In [10]:
df = df.drop(['Geography','Gender','RowNumber','CustomerId','Surname'],axis=1)
df.head()

   CreditScore  Age  Tenure    Balance  ...  Exited  Male  Germany  Spain
0          619   42       2       0.00  ...       1     0        0      0
1          608   41       1   83807.86  ...       0     0        0      1
2          502   42       8  159660.80  ...       1     0        0      0
3          699   39       1       0.00  ...       0     0        0      0
4          850   43       2  125510.82  ...       0     0        0      1

[5 rows x 12 columns]

# feature selection

In [11]:
X = df.drop(['Exited'],axis=1)
y = df.Exited

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [13]:
X_train.head()

      CreditScore  Age  Tenure  ...  Male  Germany  Spain
8371          813   29       5  ...     0        1      0
5027          681   37       8  ...     1        1      0
9234          642   49       4  ...     1        1      0
3944          612   31       8  ...     0        0      0
6862          586   33       9  ...     1        0      0

[5 rows x 11 columns]

In [14]:
y_train.head()

8371    1
5027    0
9234    1
3944    0
6862    0
Name: Exited, dtype: int64

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# ANN

In [16]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import ReLU,LeakyReLU,PReLU,ELU

In [17]:
ann = Sequential()

In [18]:
X_train.shape

(6700, 11)

In [20]:
ann.add(Dense(units=9,kernel_initializer='he_normal',activation='relu',input_dim=11))
ann.add(Dense(units=6,kernel_initializer='he_normal',activation='relu'))
ann.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [21]:
ann.compile(optimizer='Adamax',loss='binary_crossentropy',metrics=['accuracy'])

In [22]:
reg = ann.fit(X_train,y_train,validation_split=0.0,batch_size=10,epochs=100)

Epoch 1/100
670/670 [==============================] - 1s 1ms/step - loss: 0.6094 - accuracy: 0.6729
Epoch 2/100
670/670 [==============================] - 1s 1ms/step - loss: 0.5132 - accuracy: 0.7939
Epoch 3/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4816 - accuracy: 0.7946
Epoch 4/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4609 - accuracy: 0.7949
Epoch 5/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4571 - accuracy: 0.7928
Epoch 6/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4417 - accuracy: 0.8028
Epoch 7/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4548 - accuracy: 0.8002
Epoch 8/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4419 - accuracy: 0.7988
Epoch 9/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4356 - accuracy: 0.8061
Epoch 10/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4196 - accuracy: 0.8167
Epoch 11/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4337 - accuracy: 0.8092
Epoch 12/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4198 - accuracy: 0.8167
Epoch 13/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4135 - accuracy: 0.8216
Epoch 14/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4254 - accuracy: 0.8147
Epoch 15/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4217 - accuracy: 0.8159
Epoch 16/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4145 - accuracy: 0.8166
Epoch 17/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4135 - accuracy: 0.8222
Epoch 18/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4119 - accuracy: 0.8251
Epoch 19/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4041 - accuracy: 0.8287
Epoch 20/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3971 - accuracy: 0.8286
Epoch 21/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4150 - accuracy: 0.8185
Epoch 22/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4109 - accuracy: 0.8202
Epoch 23/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4005 - accuracy: 0.8250
Epoch 24/100
670/670 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8250
Epoch 25/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3921 - accuracy: 0.8344
Epoch 26/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3940 - accuracy: 0.8265
Epoch 27/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3855 - accuracy: 0.8351
Epoch 28/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3988 - accuracy: 0.8335
Epoch 29/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3773 - accuracy: 0.8420
Epoch 30/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3802 - accuracy: 0.8346
Epoch 31/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3875 - accuracy: 0.8353
Epoch 32/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3931 - accuracy: 0.8320
Epoch 33/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3786 - accuracy: 0.8434
Epoch 34/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3787 - accuracy: 0.8435
Epoch 35/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3753 - accuracy: 0.8455
Epoch 36/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3741 - accuracy: 0.8456
Epoch 37/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3681 - accuracy: 0.8484
Epoch 38/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3600 - accuracy: 0.8504
Epoch 39/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3482 - accuracy: 0.8533
Epoch 40/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3554 - accuracy: 0.8511
Epoch 41/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3543 - accuracy: 0.8547
Epoch 42/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3562 - accuracy: 0.8537
Epoch 43/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3665 - accuracy: 0.8486
Epoch 44/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3439 - accuracy: 0.8559
Epoch 45/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3521 - accuracy: 0.8585
Epoch 46/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3515 - accuracy: 0.8605
Epoch 47/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3478 - accuracy: 0.8609
Epoch 48/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3540 - accuracy: 0.8594
Epoch 49/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3407 - accuracy: 0.8580
Epoch 50/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3461 - accuracy: 0.8591
Epoch 51/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3414 - accuracy: 0.8614
Epoch 52/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3504 - accuracy: 0.8541
Epoch 53/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3546 - accuracy: 0.8532
Epoch 54/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3423 - accuracy: 0.8610
Epoch 55/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3501 - accuracy: 0.8562
Epoch 56/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3414 - accuracy: 0.8602
Epoch 57/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3404 - accuracy: 0.8634
Epoch 58/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3389 - accuracy: 0.8622
Epoch 59/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3434 - accuracy: 0.8558
Epoch 60/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3252 - accuracy: 0.8656
Epoch 61/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3513 - accuracy: 0.8584
Epoch 62/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3359 - accuracy: 0.8626
Epoch 63/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3212 - accuracy: 0.8670
Epoch 64/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3290 - accuracy: 0.8686
Epoch 65/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3409 - accuracy: 0.8639
Epoch 66/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3377 - accuracy: 0.8617
Epoch 67/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3423 - accuracy: 0.8568
Epoch 68/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3459 - accuracy: 0.8544
Epoch 69/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3390 - accuracy: 0.8633
Epoch 70/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3495 - accuracy: 0.8594
Epoch 71/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3397 - accuracy: 0.8565
Epoch 72/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3367 - accuracy: 0.8637
Epoch 73/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3465 - accuracy: 0.8589
Epoch 74/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3435 - accuracy: 0.8614
Epoch 75/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3382 - accuracy: 0.8607
Epoch 76/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3387 - accuracy: 0.8630
Epoch 77/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3507 - accuracy: 0.8550
Epoch 78/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3235 - accuracy: 0.8645
Epoch 79/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3429 - accuracy: 0.8546
Epoch 80/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3318 - accuracy: 0.8679
Epoch 81/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3354 - accuracy: 0.8615
Epoch 82/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3334 - accuracy: 0.8596
Epoch 83/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3281 - accuracy: 0.8604
Epoch 84/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3365 - accuracy: 0.8565
Epoch 85/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3303 - accuracy: 0.8610
Epoch 86/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3486 - accuracy: 0.8547
Epoch 87/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3377 - accuracy: 0.8569
Epoch 88/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3198 - accuracy: 0.8688
Epoch 89/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3318 - accuracy: 0.8607
Epoch 90/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3281 - accuracy: 0.8647
Epoch 91/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3509 - accuracy: 0.8528
Epoch 92/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3374 - accuracy: 0.8583
Epoch 93/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3314 - accuracy: 0.8617
Epoch 94/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3332 - accuracy: 0.8627
Epoch 95/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3188 - accuracy: 0.8685
Epoch 96/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3203 - accuracy: 0.8674
Epoch 97/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3273 - accuracy: 0.8655
Epoch 98/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3251 - accuracy: 0.8622
Epoch 99/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3389 - accuracy: 0.8588
Epoch 100/100
670/670 [==============================] - 1s 1ms/step - loss: 0.3296 - accuracy: 0.8650

In [23]:
y_pred = ann.predict(X_test)
y_pred = y_pred > 0.5

In [24]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [25]:
print(confusion_matrix(y_test,y_pred))

[[2517  140]
 [ 316  327]]

In [26]:
accuracy_score(y_test,y_pred)

0.8618181818181818